@use '_header';
@use '_footer';

// write code below this line
body{
    background-color: #EDF2F4;
    font-family: "Noto Serif Lao", sans-serif;
    color: #2B2D42; 
}
.navigation-responsive{
    display: none;
}
.contact-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #2B2D42;
}

form{
    width: 80vw;
    margin: 0 auto 5rem;
    .contact-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        margin: 0 auto 2rem;
        .label{
            font-family: 'Noto Serif Lao', serif;
            font-size: 2rem;
            color: #2B2D42;
        }
        .inputs{
            width: 40vw;
            height: 5vh;
            font-family: 'Noto Serif Lao', serif;
            font-size: 2rem;
            &::placeholder{
                font-size: 1.4rem;
            }
        }
        .contact-comment{
            width: 40vw;
            font-family: 'Noto Serif Lao', serif;
            font-size: 2rem;
        }
    }
    
    .contact-btn{
        text-align: center;
        .submit-btn{
            width: 10vw;
            font-size: 2.4rem;
            font-family: "Noto Serif Lao", serif;
            color: #2B2D42;
            background-color: #8D99AE;
            border: none;
            padding: 1rem;
            border-radius: 5px;
            &:hover{
                opacity: .8;
            }
        }
    }
}

@media only screen and (max-width: 375px){
    .navigation-responsive{
        background-color: #EDF2F4;
        position: absolute;
        top: 0;
        left: -375px;
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
        color: white;
        text-align: center;
        transition: .5s;
        .nav-menu-responsive{
            padding-inline: 0;
            .nav-menu-item-responsive{
	            margin-top: 1.5rem;
	            cursor: pointer;
                a{
                    font-family: "Noto Serif Lao", sans-serif;
                    color: #2B2D42; 
                    text-decoration: none;
                    font-size: 3rem;
                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
    }
    .navigation-responsive.active{
        display: grid;
        z-index: 4;
        left: 0;
    }
    .contact-title{
        font-size: 4rem;
        margin-top: 3rem;
    }
    form{
        margin: 0 auto 3rem;
        .contact-items{
            flex-direction: column;
            align-items: start;
            .label{
                margin-bottom: 0.5rem;
            }
            .inputs{
                width: 50vw;
                height: 3vh;
                font-size: 1.5rem;
            }
            .contact-comment{
                width: 50vw;
                height: 20vh;
                font-size: 1.5rem;
            }
        }
        .contact-btn{
            .submit-btn{
                width: 30vw;
                padding: 0.5rem;
            }
        }
    }
}