@use '_header';
@use '_footer';

// write code below this line
body{
    background-color: #EDF2F4;
    font-family: "Noto Serif Lao", sans-serif;
    color: #2B2D42; 
}
.contact-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #2B2D42;
}

form{
    width: 80vw;
    margin: 0 auto 5rem;
    .contact-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        margin: 0 auto 2rem;
        .label{
            font-family: 'Noto Serif Lao', serif;
            font-size: 1.6rem;
            color: #2B2D42;
        }
        .inputs{
            width: 40vw;
            height: 5vh;
            &::placeholder{
                font-size: 1.4rem;
            }
        }
        .contact-comment{
            width: 40vw;
        }
    }
    
    .contact-btn{
        text-align: center;
        .submit-btn{
            width: 10vw;
            font-size: 2.4rem;
            font-family: "Noto Serif Lao", serif;
            color: #2B2D42;
            background-color: #8D99AE;
            border: none;
            padding: 1rem;
            border-radius: 5px;
            &:hover{
                opacity: .8;
            }
        }
    }
}