// for Kevin
body{
    background-color: #EDF2F4;
    font-family: "Noto Serif Lao", sans-serif;
    color: #2B2D42; 
}
header{
    background-color: #8D99AE;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    &:hover{
        color: #EDF2F4;
    }
}