@use '_header';
@use '_footer';

// write code below this line
// for Gerardo
*{
    scroll-behavior: smooth;
}
#Home{
    min-height: 100vh;
    background: url(../images/Premium\ Red\ Beef\ Noodle\ Soup.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.navigation-responsive{
    display: none;
}
.home-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 10rem;
    text-shadow: 0 0 1px white;
    color: black;

}
.Menu-button{
    font-family: "Noto Serif Lao", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}
.Menu-button{
    color: white;
    background-color: black;
    border-radius: 10px;
    min-height: 6rem;
    width: 20rem;
    border: transparent;
    padding: 1rem;
    margin-top: 1rem;
    animation-duration: 3s;
    
    
}
.Menu-button:hover{
    box-shadow: 0 0 10px white;
    animation-duration: 3s;
    transition-duration: 1s;
}
#About{
    padding-bottom: 7rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-divs{
    text-align: center;
    width: 33%;
    padding-top: 6rem;
    .about-img{
        width: 32rem;
        height: 24rem;
        margin-top: 6rem;
    } h2{
        font-family: "Bebas Neue", sans-serif;
        font-size: 4rem;
        } .about-p{
            margin-top: 3rem;
            text-align: left;
            font-size: 2rem;
            font-weight: 700;
            width: 32rem;
            margin-left: 8rem;
        } .about-img:hover{
            box-shadow:0 0 1rem black;
        }
}

@media only screen and (max-width: 376px){
    #Home{
        max-width: 375px;
    }
    .navigation-responsive{
        background-color: #EDF2F4;
        position: absolute;
        top: 0;
        left: -375px;
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
        color: white;
        text-align: center;
        transition: .5s;
        .nav-menu-responsive{
            padding-inline: 0;
            .nav-menu-item-responsive{
	            margin-top: 1.5rem;
	            cursor: pointer;
                a{
                    font-family: "Noto Serif Lao", sans-serif;
                    color: #2B2D42; 
                    text-decoration: none;
                    font-size: 3rem;
                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
    }
    .navigation-responsive.active{
        left: 0;
    }
    #about{
        max-width: 375px;
    }
    .about-img{
        max-width: 12rem;
        max-height: 9rem;
    }.about-p{
        margin-top: 4rem;
        text-align: left;
        font-weight: 700;
        
    } 

}
