@use '_header';
@use '_footer';

// write code below this line
// for Kevin

body{
    background-color: #EDF2F4;
    font-family: "Noto Serif Lao", sans-serif;
    color: #2B2D42;
    main{
        .navigation-responsive{
            display: none;
        }
        #location-section{
            display: flex;
            flex-direction: column;
            .location{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 5rem;
                padding-bottom: 5rem;
                padding-left: 10rem;
                padding-right: 10rem;
                .address{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 5rem;
                    .store{
                        display: flex;
                        flex-direction: row;
                    }
                }
                img{
                    height: 5rem;
                    width: 5rem;
                }
                h1{
                    font-family: "Bebas Neue", sans-serif;
                    font-size: 5.5rem;
                    padding-left: 1.5rem;

                }
                p{
                    text-align: end;
                    font-size: 3rem;
                }
                .google-map{
                    height: 30rem;
                    width: 40rem;
                }
            }
            #line{
                display: flex;
                justify-content: center;
                hr{
                margin: 0;
                display: flex;
                justify-content: center;
                text-align: center;
                border: none;
                border-top: 0.3rem solid #2B2D42;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px){
    body{
        .navigation-responsive{
            background-color: #EDF2F4;
            position: absolute;
            top: 0;
            left: -375px;
            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;
            align-content: center;
            color: white;
            text-align: center;
            transition: .5s;
            .nav-menu-responsive{
                padding-inline: 0;
                .nav-menu-item-responsive{
                    margin-top: 1.5rem;
                    cursor: pointer;
                    a{
                        font-family: "Noto Serif Lao", sans-serif;
                        color: #2B2D42; 
                        text-decoration: none;
                        font-size: 3rem;
                        &:hover{
                            opacity: .5;
                        }
                    }
                }
            }
        }
        .navigation-responsive.active{
            display: grid;
            left: 0;
        }
        main{
            .location{
                flex-wrap: wrap;
                p{
                    padding-bottom: 5rem;
                }
            }
        }
    }
}