@use '_header';
@use '_footer';

// write code below this line
// for Kevin

body{
    background-color: #EDF2F4;
    font-family: "Noto Serif Lao", sans-serif;
    color: #2B2D42;
    main{
        padding: 5rem 0;
        .navigation-responsive{
            display: none;
        }
        #menu-section{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            #famous-items{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                .famous-menu-items{
                    border: 0.5rem solid #2B2D42;
                    padding: 3rem;
                    margin: 1.5rem;
                    &:hover{
                        background-color: #8D99AE;
                        color: #EDF2F4;
                    }
                    h3{
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 4rem;
                    }
                    p{
                        font-size: 3rem;
                        margin: 1rem;
                    }
                    img{
                        height: 30rem;
                        width: 45rem;
                    }
                }
            }
            #items{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                .menu-items{
                    border: 0.5rem solid #2B2D42;
                    padding: 3rem;
                    margin: 1.5rem;
                    &:hover{
                        background-color: #8D99AE;
                        color: #EDF2F4;
                    }
                    h3{
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 2.6rem;
                    }
                    p{
                        font-size: 2.2rem;
                        margin: 1rem;
                    }
                    img{
                        height: 25rem;
                        width: 37.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px){
    body{
        main{
            .navigation-responsive{
                background-color: #EDF2F4;
                position: absolute;
                top: 0;
                left: -375px;
                width: 100%;
                height: 100%;
                display: grid;
                justify-content: center;
                align-content: center;
                color: white;
                text-align: center;
                transition: .5s;
                .nav-menu-responsive{
                    padding-inline: 0;
                    .nav-menu-item-responsive{
                        margin-top: 1.5rem;
                        cursor: pointer;
                        a{
                            font-family: "Noto Serif Lao", sans-serif;
                            color: #2B2D42; 
                            text-decoration: none;
                            font-size: 3rem;
                            &:hover{
                                opacity: .5;
                            }
                        }
                    }
                }
            }
            .navigation-responsive.active{
                display: grid;
                left: 0;
            }
            #menu-section{
                #famous-items{
                    .famous-menu-items{
                        h3{
                            font-size: 4rem;
                        }
                        p{
                            font-size: 3rem;
                        }
                        .famous-menu-img{
                            height: 20rem;
                            width: 30rem;
                        }
                    }
                }
                #items{
                    .menu-items{
                        h3{
                            font-size: 4rem;
                        }
                        p{
                            font-size: 3rem;
                        }
                        .menu-img{
                            height: 20rem;
                            width: 30rem;
                        }
                    }
                }
            }
        }
    }
}