html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  font-size: 62.5%;
}

body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

header {
  background-color: #8D99AE;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5rem;
  height: 13rem;
  width: 26rem;
}
header nav {
  padding-right: 1rem;
}
header nav .nav-menu {
  display: flex;
  flex-direction: row;
}
header nav li {
  padding: 2rem;
}
header nav li:hover {
  color: #EDF2F4;
}
header nav a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

footer {
  background-color: #8D99AE;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer address ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer address ul li {
  padding: 1rem;
}
footer address img {
  width: 5rem;
  height: 5rem;
}
footer p {
  font-family: sans-serif;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

* {
  scroll-behavior: smooth;
}

#Home {
  min-height: 100vh;
  background: url(../images/Premium\ Red\ Beef\ Noodle\ Soup.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6rem;
  text-shadow: 0 0 1px white;
  color: black;
}

.Menu-button {
  font-family: "Noto Serif Lao", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
}

.Menu-button {
  color: white;
  background-color: black;
  border-radius: 10px;
  min-height: 6rem;
  min-width: 5rem;
  padding: 1rem;
  margin-top: 1rem;
  animation-duration: 3s;
}

.Menu-button:hover {
  box-shadow: 0 0 10px white;
  animation-duration: 3s;
  transition-duration: 1s;
}

#About {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}
body main section {
  display: flex;
  flex-direction: column;
}
body main section .location {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
body main section .location .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main section .location .address .store {
  display: flex;
  flex-direction: row;
}
body main section .location img {
  height: 5rem;
  width: 5rem;
}
body main section .location h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5.5rem;
  padding-left: 1.5rem;
}
body main section .location p {
  text-align: end;
  font-size: 3rem;
}
body main section .location .google-map {
  height: 30rem;
  width: 40rem;
}
body main section #line {
  display: flex;
  justify-content: center;
}
body main section #line hr {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  border-top: 0.3rem solid #2B2D42;
}

body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

.careers-title {
  font-family: "Bebas Neue", cursive;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.explanation {
  width: 50vw;
  margin: 0 auto 2rem;
}
.explanation p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.career-btn {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.career-btn .career-submit {
  font-size: 1.6rem;
  font-family: "Noto Serif Lao", serif;
  color: #2B2D42;
  background-color: #8D99AE;
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
}
.career-btn .career-submit:hover {
  opacity: 0.8;
}

.careers-container {
  display: flex;
}
.careers-container .careers-items {
  width: 100%;
}
.careers-container .careers-items img {
  display: block;
  width: 80%;
  height: 50%;
  margin: 0 auto 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.careers-container .careers-items h3 {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 1rem;
  color: #2B2D42;
}
.careers-container .careers-items p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.2;
}

body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

.contact-title {
  font-family: "Bebas Neue", cursive;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #2B2D42;
}

form {
  width: 80vw;
  margin: 0 auto;
}
form .contact-items {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 0 auto 2rem;
}
form .contact-items .label {
  font-family: "Noto Serif Lao", serif;
  font-size: 1.6rem;
  color: #2B2D42;
}
form .contact-items .inputs {
  width: 40vw;
}
form .contact-btn {
  text-align: center;
}
form .contact-btn .submit-btn {
  font-family: "Noto Serif Lao", serif;
  font-size: 1.6rem;
  color: #2B2D42;
}/*# sourceMappingURL=style.css.map */