html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  font-size: 62.5%;
}

body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

header {
  background-color: #8D99AE;
  font-family: "Bebas Neue", sans-serif;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 13rem;
  width: 26rem;
}
header nav {
  padding-right: 1rem;
}
header nav .nav-menu {
  display: flex;
  flex-direction: row;
}
header nav li {
  font-size: 6rem;
  padding: 2rem;
}
header nav li:hover {
  color: #EDF2F4;
}
header nav a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

footer {
  background-color: #8D99AE;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer address ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer address ul li {
  padding: 1rem;
}
footer address img {
  width: 5rem;
  height: 5rem;
}
footer p {
  font-family: sans-serif;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

* {
  scroll-behavior: smooth;
}

#Home {
  min-height: 100vh;
  background: url(../images/Premium\ Red\ Beef\ Noodle\ Soup.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 10rem;
  text-shadow: 0 0 1px white;
  color: black;
}

.Menu-button {
  font-family: "Noto Serif Lao", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
}

.Menu-button {
  color: white;
  background-color: black;
  border-radius: 10px;
  min-height: 6rem;
  width: 20rem;
  border: transparent;
  padding: 1rem;
  margin-top: 1rem;
  animation-duration: 3s;
}

.Menu-button:hover {
  box-shadow: 0 0 10px white;
  animation-duration: 3s;
  transition-duration: 1s;
}

#About {
  padding-bottom: 7rem;
  padding-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-divs {
  text-align: center;
  width: 33%;
  padding-top: 6rem;
}
.about-divs .about-img {
  width: 32rem;
  height: 24rem;
  margin-top: 6rem;
}
.about-divs h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
}
.about-divs .about-p {
  margin-top: 3rem;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  width: 32rem;
  margin-left: 8rem;
}
.about-divs .about-img:hover {
  box-shadow: 0 0 1rem black;
}

@media only screen and (max-width: 376px) {
  #Home {
    max-width: 375px;
  }
  #about {
    max-width: 375px;
  }
  .about-img {
    max-width: 12rem;
    max-height: 9rem;
  }
  .about-p {
    margin-top: 4rem;
    text-align: left;
    font-weight: 700;
  }
}
body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}
body main {
  padding: 5rem 0;
}
body main #menu-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body main #menu-section #famous-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body main #menu-section #famous-items .famous-menu-items {
  border: 0.5rem solid #2B2D42;
  padding: 3rem;
  margin: 1.5rem;
}
body main #menu-section #famous-items .famous-menu-items:hover {
  background-color: #8D99AE;
  color: #EDF2F4;
}
body main #menu-section #famous-items .famous-menu-items h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
}
body main #menu-section #famous-items .famous-menu-items p {
  font-size: 3rem;
  margin: 1rem;
}
body main #menu-section #famous-items .famous-menu-items img {
  height: 30rem;
  width: 45rem;
}
body main #menu-section #items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body main #menu-section #items .menu-items {
  border: 0.5rem solid #2B2D42;
  padding: 3rem;
  margin: 1.5rem;
}
body main #menu-section #items .menu-items:hover {
  background-color: #8D99AE;
  color: #EDF2F4;
}
body main #menu-section #items .menu-items h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.6rem;
}
body main #menu-section #items .menu-items p {
  font-size: 2.2rem;
  margin: 1rem;
}
body main #menu-section #items .menu-items img {
  height: 25rem;
  width: 37.5rem;
}

@media only screen and (max-width: 375px) {
  body main #menu-section #famous-items .famous-menu-items h3 {
    font-size: 4rem;
  }
  body main #menu-section #famous-items .famous-menu-items p {
    font-size: 3rem;
  }
  body main #menu-section #famous-items .famous-menu-items .famous-menu-img {
    height: 20rem;
    width: 30rem;
  }
  body main #menu-section #items .menu-items h3 {
    font-size: 4rem;
  }
  body main #menu-section #items .menu-items p {
    font-size: 3rem;
  }
  body main #menu-section #items .menu-items .menu-img {
    height: 20rem;
    width: 30rem;
  }
}
body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}
body main #location-section {
  display: flex;
  flex-direction: column;
}
body main #location-section .location {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
body main #location-section .location .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}
body main #location-section .location .address .store {
  display: flex;
  flex-direction: row;
}
body main #location-section .location img {
  height: 5rem;
  width: 5rem;
}
body main #location-section .location h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5.5rem;
  padding-left: 1.5rem;
}
body main #location-section .location p {
  text-align: end;
  font-size: 3rem;
}
body main #location-section .location .google-map {
  height: 30rem;
  width: 40rem;
}
body main #location-section #line {
  display: flex;
  justify-content: center;
}
body main #location-section #line hr {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  border-top: 0.3rem solid #2B2D42;
}

@media only screen and (max-width: 375px) {
  body main .location {
    flex-wrap: wrap;
  }
  body main .location p {
    padding-bottom: 5rem;
  }
}
body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

.careers-title {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.explanation {
  width: 50vw;
  margin: 0 auto 2rem;
}
.explanation p {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

#careers-resume #resume {
  display: block;
  width: 50vw;
  margin: 0 auto;
  font-size: 2rem;
}
#careers-resume .career-btn {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
#careers-resume .career-btn .career-submit {
  font-size: 1.6rem;
  font-family: "Noto Serif Lao", serif;
  color: #2B2D42;
  background-color: #8D99AE;
  border: none;
  padding: 1rem 1rem;
  border-radius: 5px;
}
#careers-resume .career-btn .career-submit:hover {
  opacity: 0.8;
}

.careers-container {
  display: flex;
}
.careers-container .careers-items {
  width: 100vw;
  margin-bottom: 5rem;
}
.careers-container .careers-items img {
  display: block;
  width: 80%;
  height: 50%;
  margin: 0 auto 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.careers-container .careers-items h3 {
  text-align: center;
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 1rem;
  color: #2B2D42;
}
.careers-container .careers-items p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 2rem;
  line-height: 1.2;
}

@media only screen and (max-width: 375px) {
  .careers-title {
    font-size: 3.6rem;
  }
  .explanation {
    width: 90vw;
    text-align: justify;
  }
  .career-btn {
    margin-bottom: 5rem;
  }
  .careers-container {
    flex-direction: column;
  }
  .careers-container .careers-items img {
    margin-bottom: 5rem;
  }
  .careers-container .careers-items h3 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  .careers-container .careers-items p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
body {
  background-color: #EDF2F4;
  font-family: "Noto Serif Lao", sans-serif;
  color: #2B2D42;
}

.contact-title {
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #2B2D42;
}

form {
  width: 80vw;
  margin: 0 auto 5rem;
}
form .contact-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin: 0 auto 2rem;
}
form .contact-items .label {
  font-family: "Noto Serif Lao", serif;
  font-size: 2rem;
  color: #2B2D42;
}
form .contact-items .inputs {
  width: 40vw;
  height: 5vh;
  font-size: 2rem;
}
form .contact-items .inputs::-moz-placeholder {
  font-size: 1.4rem;
}
form .contact-items .inputs::placeholder {
  font-size: 1.4rem;
}
form .contact-items .contact-comment {
  width: 40vw;
  font-size: 2rem;
}
form .contact-btn {
  text-align: center;
}
form .contact-btn .submit-btn {
  width: 10vw;
  font-size: 2.4rem;
  font-family: "Noto Serif Lao", serif;
  color: #2B2D42;
  background-color: #8D99AE;
  border: none;
  padding: 1rem;
  border-radius: 5px;
}
form .contact-btn .submit-btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 375px) {
  .contact-title {
    font-size: 4rem;
    margin-top: 3rem;
  }
  form {
    margin: 0 auto 3rem;
  }
  form .contact-items {
    flex-direction: column;
    align-items: start;
  }
  form .contact-items .label {
    margin-bottom: 0.5rem;
  }
  form .contact-items .inputs {
    width: 50vw;
  }
  form .contact-items .contact-comment {
    width: 50vw;
  }
  form .contact-btn .submit-btn {
    width: 30vw;
    padding: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */